@tailwind base;
@tailwind components;
@tailwind utilities;

html { scroll-behavior: smooth; }
.radial-mask { mask-image: radial-gradient(ellipse at center, black 60%, transparent 100%); -webkit-mask-image: radial-gradient(ellipse at center, black 60%, transparent 100%); }
